# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# App build artifacts
build-artifacts/
*.ipa

# macOS
.DS_Store
**/.DS_Store

# SwiftPM
.build/

# Fastlane / misc
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
